*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}